.promo-top h3 {
    position: relative;
    display: block;
    top: -11px;
    height: 350px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    border-left: 12px solid #29a643;
    padding-left: 25px;
    line-height: normal;
    margin-bottom: 10px;
}

.promo-top h3 span {
    display: block;
    text-transform: none;
}

.promo-top h3 .st1 {
    position: relative;
    top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
}

.promo-top h3 .st2 {
    position: relative;
    top: -58px;
    font-size: 170px;
}

.promo-top h3 .st3 {
    position: relative;
    top: -120px;
    left: 0;
    max-width: 200px;
    font-family: 'Roboto', sans-serif;
    font-size: 77px;
}

.promo-top h3 .st4 {
    position: absolute;
    display: block;
    bottom: -68px;
    left: -12px;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    margin-top: 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
.st1.st1_g6 {
    top: 4px;
    font-size: 44px;
}

.st2.st2_g6 {
    top: -19px;
    font-size: 186px;
    letter-spacing: -7px;
    font-family: regular, regular_ext, arial, sans-serif;
    margin: 33px 0px;
}

.st3.st3_g6 {
    top: -45px;
    font-size: 57px;
}

.st3.st3_g5 {
    font-size: 36px;
    top: -104px;
    max-width: 370px;
}

span.st2_g1 {
    top: -50px;
    font-size: 163px;
}

.promo-top h3 span.st3_g2 {
    top: -42px;
    max-width: 500px;
    font-size: 38px;
}

.promo-top h3 span.st2_g2 {
    top: -18px;
    font-family: "regular", "regular_ext", sans-serif;
}

html[lang="bn"] .promo-top h3 span.st2.st2_g2 {
    font-size: 210px;
}
html[lang="bn"] .promo-top h3 span.st2.st2_g1 {
    font-size: 190px;
    padding-bottom: 20px;
}
html[lang="bn"] .promo-top h3 span.st2.st2_g1.JPY {
    font-size: 140px;
    padding-bottom: 66px;
}
html[lang="bn"] .promo-top h3 .st4{
    font-size: 13px;
}

html[lang="bn"] .promo-top h3 .st1 {
    top: 0;
    font-size: 30px;
}
html[lang="bn"] .promo-top h3 .st1.JPY {
    font-size: 56px;
}
html[lang="bn"] .promo-top h3 .st2 {
    top: -18px;
}
html[lang="bn"] .promo-top h3 .st3 {
    top: -60px;
    font-size: 59px;
}
html[lang="bn"] .promo-top h3 .st3.JPY {
    top: -73px;
}
html[lang="bn"] .promo-top h3 .st4 {
    font-size: 12px;
}

html[lang="bn"] .promo_bonus span.st3_g2 {
    top: -15px;
    font-size: 35px;
}

html[lang="ru"] .promo-top h3 span.st3_g2 > br,
html[lang="pt"] .promo-top h3 span.st3_g2 > br {
    display: none;
}

html[lang="ph"] .promo-top h3 .st1 {
    top: -8px;
    font-size: 34px;
}

html[lang="ja"] .promo-top h3 .st3 {
    top: -100px;
    font-size: 40px;
}
html[lang="ja"] .promo-top h3 span.st2_g2 {
    top: -28px;
    font-size: 223px;
}
html[lang="ja"] .promo-top h3 span.st3_g2 {
    top: -51px;
    font-size: 34px;
}

html[lang="ko"] .promo-top h3 span.st2_g2 {
    top: -13px;
    font-size: 202px;
}
html[lang="ko"] .promo-top h3 span.st3_g2 {
    top: -23px;
    font-size: 35px;
}

html[lang="ko"] .promo-top h3 span.st3_g1 {
    top: -105px;
    max-width: 422px;
    font-size: 51px;
}

html[lang="zh_CN"] .promo-top h3 span.st2_g2 {
    top: -28px;
}
html[lang="zh_CN"] .promo-top h3 span.st3_g2 {
    top: -45px;
    font-size: 35px;
}
html[lang="zh_CN"] .promo-top h3 span.st3_g1 {
    top: -109px;
    font-size: 57px;
}

html[lang="hu"] .promo-top h3 span.st3_g2 {
    top: -29px;
    font-size: 36px;
    line-height: 38px;
}

html[lang="ru"] .promo-top h3 span.st3_g1 {
    top: -110px;
    font-size: 58px;
    max-width: 350px;
}

html[lang="vn"] .st3.st3_g6 {
    font-size: 50px;
}

html[lang="ph"] .promo-top h3.h3_g1 {
    height: 280px;
}
html[lang="ph"] .promo-top h3 span.st2_g1 {
    position: relative;
    top: -58px;
    font-size: 223px;
}

html[lang="tr"] .promo-top h3 span.st3_g1 {
    top: -120px;
    max-width: 410px;
    font-size: 72px;
}
html[lang="tw"] .promo-top h3 .st2 {
    top: -43px;
}
html[lang="tw"] .promo-top h3 .st3 {
    top: -70px;
}
html[lang="fa"] .promo-top h3 .st2.JPY {
    font-size: 130px;
    top: 0;
}
html[lang="fa"] .promo-top h3 .st3.JPY {
    top: -20px;
}

@media (min-width: 992px) {

    html[lang="en"] .promo-top h3 .st2_g1,
    html[lang="en"] .promo-top h3 .st2_g3 {
        top:-48px;
        font-size: 205px;
    }
    html[lang="en"] .promo-top h3 .st3_g1,
    html[lang="en"] .promo-top h3 .st3_g3 {
        top: -98px;
    }

    html[lang="en"] .promo-top h3 .st2_g2 {
        top:-11px;
        font-size: 205px;
    }
    html[lang="en"] .promo-top h3 .st3_g2 {
        top: -33px;
    }
    html[lang="en"] .promo-top h3 .st2_g6 {
        top:-33px;
        font-size: 205px;
    }
    html[lang="en"] .promo-top h3 .st3_g6 {
        top: -83px;
    }

    html[lang="en"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="en"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g1 {
        top: 2px;
        font-size: 120px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g1 {
        top: -6px;
        font-size: 34px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g6 {
        top: -17px;
        font-size: 180px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g6 {
        top: -18px;
        font-size: 34px;
    }

    html[lang="ms"] .promo-top h3 span.st2_g1 {
        top: -17px;
        font-size: 180px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g1 {
        top: -22px;
        font-size: 34px;
    }
    html[lang="ms"] .promo-top h3 span.st4 {
        font-size: 13px;
    }
    html[lang="ms"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 204px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g2 {
        top: -22px;
        font-size: 34px;
    }
    html[lang="ms"] .promo-top h3 span.st2_g6 {
        top: -20px;
        font-size: 204px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g6 {
        top: -37px;
        font-size: 34px;
    }
    html[lang="ms"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g1 {
        top: -27px;
        font-size: 195px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g1 {
        top: -42px;
        font-size: 34px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st2_g2 {
        top: -15px;
        font-size: 218px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g2 {
        top: -35px;
        font-size: 34px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st2_g6 {
        top: -25px;
        font-size: 212px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g6 {
        top: -50px;
        font-size: 34px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="el"] .promo-top h3 span.st2_g1 {
        top: -32px;
        font-size: 212px;
    }
    html[lang="el"] .promo-top h3 span.st3_g1 {
        top: -70px;
        font-size: 34px;
    }
    html[lang="el"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 200px;
    }
    html[lang="el"] .promo-top h3 span.st3_g2 {
        top: 5px;
        font-size: 25px;
    }
    html[lang="el"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 185px;
    }
    html[lang="el"] .promo-top h3 span.st3_g6 {
        top: -26px;
        font-size: 35px;
    }
    html[lang="el"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="el"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g1 {
        top: -15px;
        font-size: 185px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g1 {
        top: -26px;
        font-size: 35px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g2 {
        top: -15px;
        font-size: 204px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g2 {
        top: -26px;
        font-size: 35px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 184px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g6 {
        top: -26px;
        font-size: 35px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 73px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g1 {
        top: -15px;
        font-size: 184px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g1 {
        top: -28px;
        font-size: 35px;
    }
    html[lang="hu"] .promo-top h3 span.st4 {
        font-size: 13px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g2 {
        top: 0;
        font-size: 184px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g6 {
        top: -5px;
        font-size: 170px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g6 {
        top: -5px;
        font-size: 35px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="it"] .promo-top h3 span.st2_g1 {
        top: -5px;
        font-size: 170px;
    }
    html[lang="it"] .promo-top h3 span.st3_g1 {
        top: -5px;
        font-size: 35px;
    }

    html[lang="it"] .promo-top h3 span.st2_g2 {
        top: 20px;
        font-size: 190px;
    }
    html[lang="it"] .promo-top h3 span.st3_g2 {
        top: 40px;
        font-size: 35px;
    }

    html[lang="it"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="it"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="it"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="it"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g1 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g1 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 136px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="de"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="de"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="de"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="de"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="de"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="de"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="de"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="de"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }
    html[lang="vn"] .promo-top h3 span.st4 {
        font-size: 13px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
        direction: ltr;
        text-align: right;
    }
    html[lang="ar"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="es"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="es"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="es"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="es"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="es"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="es"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="es"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="es"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 75px;
    }

    html[lang="th"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="th"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="th"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="th"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="th"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="th"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="th"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="th"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 35px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 35px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g1 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g2 {
        top: 20px;
        font-size: 35px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g6 {
        top: 8px;
        font-size: 35px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="id"] .promo-top h3 span.st1_g1,
    html[lang="id"] .promo-top h3 span.st1_g2,
    html[lang="id"] .promo-top h3 span.st1_g6 {
        font-size: 40px;
    }

    html[lang="id"] .promo-top h3 span.st2_g1 {
        top: 10px;
        font-size: 175px;
    }
    html[lang="id"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="id"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="id"] .promo-top h3 span.st3_g2 {
        top: 20px;
        font-size: 35px;
    }

    html[lang="id"] .promo-top h3 span.st2_g6 {
        top: -2px;
        font-size: 175px;
    }
    html[lang="id"] .promo-top h3 span.st3_g6 {
        top: 0px;
        font-size: 35px;
    }

    html[lang="id"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="id"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 80px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g1 {
        top: -20px;
        font-size: 175px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g1 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g2 {
        top: 5px;
        font-size: 175px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g2 {
        top: 5px;
        font-size: 35px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g6 {
        top: -10px;
        font-size: 175px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g6 {
        top: -15px;
        font-size: 35px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 140px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g1.JPY {
        top: -6px;
        font-size: 61px;
    }

    html[lang="hu"] .promo-top h3 span.st3_g6 {
        max-width: 400px;
    }

    html[lang="pt"] .promo-top h3 span.st3_g6 {
        max-width: 250px;
    }

    html[lang="th"] .promo-top h3 span.st3_g6 {
        top: 5px;
    }
}

@media (max-width: 991px) {

    html[lang="bn"] .promo-top h3 span.st2.st2_g1 {
        font-size: 160px;
    }
    html[lang="bn"] .promo-top h3 span.st2.st2_g1.JPY {
        font-size: 113px;
        padding-bottom: 55px;
    }
    html[lang="bn"] .promo-top h3 .st1.JPY {
        top: 0;
        font-size: 54px;
    }
    html[lang="bn"] .promo-top h3 .st2 {
        top: -22px;
    }
    html[lang="bn"] .promo-top h3 .st3 {
        top: -60px;
        font-size: 45px;
    }
    html[lang="fa"] .promo-top h3 .st2.JPY {
        top: -20px;
        font-size: 117px;
    }


    html[lang="fa"] .promo-top h3 .st3.JPY {
        top: -50px;
    }

    .promo-top h3 {
        border-left: 12px solid #29a643;
        padding-left: 25px;
        text-align: left;
    }

    .promo-top h3 .st1,
    .promo-top h3 .st2,
    .promo-top h3 .st3,
    .promo-top h3 .st4 {
        top: 0;
        left: 0;
    }

    .promo-top h3 {
        height: 295px;
        margin-top: 33px;
    }

    .promo-top h3 .st1 {
        top: -17px;
        font-size: 50px;
    }

    .promo-top h3 .st2 {
        position: relative;
        top: -56px;
        font-size: 175px;
    }

    .promo-top h3 .st3 {
        position: relative;
        top: -105px;
        left: 0;
        max-width: 100%;
        font-size: 70px;
    }

    .st1.st1_g6 {
        font-size: 50px;
        top: 0px;
    }

    .st2.st2_g6 {
        letter-spacing: -7px;
        font-size: 125px;
        top: 0px;
    }

    .st3.st3_g6 {
        top: -8px;
        font-size: 44px;
    }

    .st2.st2_g5 {
        font-size: 166px;
    }

    .st3.st3_g5 {
        font-size: 36px;
        top: -92px;
    }

    .promo-top h3 span.st3_g2 {
        max-width: 100%;
    }

    html[lang="tw"] .promo-top h3 .st2.JPY {
        top: -33px;
        font-size: 115px;
    }


}
@media (max-width: 991px) and (min-width: 768px) {
    .st2.st2_g6 {
        margin: 17px 0px;
    }

    html[lang="en"] .promo-top h3 .st2_g1,
    html[lang="en"] .promo-top h3 .st2_g3 {
        top:-53px;
        font-size: 170px;
    }
    html[lang="en"] .promo-top h3 .st3_g1,
    html[lang="en"] .promo-top h3 .st3_g3 {
        top: -98px;
        font-size: 68px;
    }

    html[lang="en"] .promo-top h3 .st2_g2 {
        top:-30px;
        font-size: 170px;
    }
    html[lang="en"] .promo-top h3 .st3_g2 {
        top:-58px;
    }

    html[lang="en"] .promo-top h3 .st2_g6 {
        top:-33px;
        font-size: 170px;
    }
    html[lang="en"] .promo-top h3 .st3_g6 {
        top: -68px;
    }

    html[lang="en"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="en"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g1 {
        top: -17px;
        font-size: 97px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g1 {
        top: -28px;
        font-size: 34px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g2 {
        top: -35px;
        font-size: 178px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g2 {
        top: -54px;
        font-size: 30px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g6 {
        top: -32px;
        font-size: 175px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g6 {
        top: -42px;
        font-size: 34px;
    }

    html[lang="ms"] .promo-top h3 span.st2_g1 {
        top: -32px;
        font-size: 160px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g1 {
        top: -54px;
        font-size: 34px;
    }

    html[lang="ms"] .promo-top h3 span.st2_g2 {
        top: -25px;
        font-size: 176px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g2 {
        top: -54px;
        font-size: 34px;
    }

    html[lang="ms"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 165px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g6 {
        top: -25px;
        font-size: 34px;
    }

    html[lang="ms"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="ms"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 65px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g1 {
        top: -38px;
        font-size: 165px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g1 {
        top: -68px;
        font-size: 40px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g2 {
        top: -19px;
        font-size: 165px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g2 {
        top: -39px;
        font-size: 33px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g6 {
        top: -19px;
        font-size: 165px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g6 {
        top: -27px;
        font-size: 33px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="el"] .promo-top h3 span.st2_g1 {
        top: -35px;
        font-size: 165px;
    }
    html[lang="el"] .promo-top h3 span.st3_g1 {
        top: -63px;
        font-size: 33px;
    }

    html[lang="el"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 165px;
    }
    html[lang="el"] .promo-top h3 span.st3_g2 {
        top: -6px;
        font-size: 20px;
    }

    html[lang="el"] .promo-top h3 span.st2_g6 {
        top: -20px;
        font-size: 165px;
    }
    html[lang="el"] .promo-top h3 span.st3_g6 {
        top: -20px;
        font-size: 25px;
    }

    html[lang="el"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="el"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g1 {
        top: -40px;
        font-size: 165px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g1 {
        top: -51px;
        font-size: 25px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g2 {
        top: -30px;
        font-size: 174px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g2 {
        top: -51px;
        font-size: 25px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g6 {
        top: -25px;
        font-size: 170px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g6 {
        top: -35px;
        font-size: 32px;
    }

    html[lang="ru"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="ru"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 60px;
    }

    html[lang="hu"] .promo-top h3 span.st1_g1 {
        font-size: 38px;
    }
    html[lang="hu"] .promo-top h3 span.st2_g1 {
        top: -25px;
        font-size: 170px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="hu"] .promo-top h3 span.st1_g2 {
        font-size: 38px;
    }
    html[lang="hu"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 170px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g2 {
        top: -20px;
        font-size: 32px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g6 {
        top: -20px;
        font-size: 160px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g6 {
        top: -25px;
        font-size: 32px;
    }

    html[lang="hu"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="hu"] .promo-top h3 span.st3_g1.JPY {
        top: -16px;
        font-size: 64px;
    }

    html[lang="it"] .promo-top h3 span.st2_g1 {
        top: -35px;
        font-size: 160px;
    }
    html[lang="it"] .promo-top h3 span.st3_g1 {
        top: -54px;
        font-size: 32px;
    }

    html[lang="it"] .promo-top h3 span.st2_g2 {
        top: -5px;
        font-size: 160px;
    }
    html[lang="it"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 32px;
    }

    html[lang="it"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="it"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 32px;
    }

    html[lang="it"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="it"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g1 {
        top: -20px;
        font-size: 151px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g1 {
        top: -39px;
        font-size: 32px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g2 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g2 {
        top: -20px;
        font-size: 32px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 32px;
    }

    html[lang="pl"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="pl"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g1 {
        top: -35px;
        font-size: 160px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g1 {
        top: -53px;
        font-size: 32px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g2 {
        top: -15px;
        font-size: 28px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g6 {
        top: -8px;
        font-size: 32px;
    }

    html[lang="sv"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 110px;
    }
    html[lang="sv"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="fr"] .promo-top h3 span.st1_g1,
    html[lang="fr"] .promo-top h3 span.st1_g2,
    html[lang="fr"] .promo-top h3 span.st1_g6 {
        font-size: 30px;
    }
    html[lang="fr"] .promo-top h3 span.st2_g1 {
        top: -20px;
        font-size: 160px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g1 {
        top: -30px;
        font-size: 32px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g2 {
        top: 10px;
        font-size: 151px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g2 {
        top: 12px;
        font-size: 28px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g6 {
        top: 5px;
        font-size: 151px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g6 {
        top: 18px;
        font-size: 32px;
    }

    html[lang="fr"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="fr"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g6 {
        top: -10px;
        font-size: 32px;
    }

    html[lang="cs"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="cs"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="de"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="de"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="de"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="de"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="de"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="de"] .promo-top h3 span.st3_g6 {
        top: -10px;
        font-size: 32px;
    }

    html[lang="de"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="de"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g6 {
        top: -10px;
        font-size: 32px;
    }

    html[lang="vn"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="vn"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g6 {
        top: -10px;
        font-size: 32px;
    }

    html[lang="pt"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="pt"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 74px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g6 {
        top: -10px;
        font-size: 32px;
    }

    html[lang="ar"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="es"] .promo-top h3 span.st1_g1,
    html[lang="es"] .promo-top h3 span.st1_g2,
    html[lang="es"] .promo-top h3 span.st1_g6 {
        font-size: 40px;
    }

    html[lang="es"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="es"] .promo-top h3 span.st3_g1 {
        top: -40px;
        font-size: 32px;
    }

    html[lang="es"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="es"] .promo-top h3 span.st3_g2 {
        top: 5px;
        font-size: 28px;
    }

    html[lang="es"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="es"] .promo-top h3 span.st3_g6 {
        top: 5px;
        font-size: 32px;
    }

    html[lang="es"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="es"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g6 {
        top: -5px;
        font-size: 32px;
    }

    html[lang="tr"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="tr"] .promo-top h3 span.st3_g1.JPY {
        top: -20px;
        font-size: 60px;
    }

    html[lang="th"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="th"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="th"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="th"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="th"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="th"] .promo-top h3 span.st3_g6 {
        top: -5px;
        font-size: 32px;
    }

    html[lang="th"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="th"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g6 {
        top: -15px;
        font-size: 151px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g6 {
        top: -5px;
        font-size: 32px;
    }

    html[lang="nl"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="nl"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="ph"] .promo-top h3 span.st1_g1,
    html[lang="ph"] .promo-top h3 span.st1_g2,
    html[lang="ph"] .promo-top h3 span.st1_g6 {
        font-size: 30px;
    }
    html[lang="ph"] .promo-top h3 span.st1_g1 {
        font-size: 42px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g1 {
        top: -30px;
        font-size: 160px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 28px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g6 {
        top: 15px;
        font-size: 151px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g6 {
        top: 20px;
        font-size: 32px;
    }

    html[lang="ph"] .promo-top h3 span.st2_g1.JPY {
        top: -3px;
        font-size: 117px;
    }
    html[lang="ph"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="pl"] .promo-top ul.checks li {
        font-size: 20px;
    }

    html[lang="id"] .promo-top h3 span.st1_g1,
    html[lang="id"] .promo-top h3 span.st1_g2,
    html[lang="id"] .promo-top h3 span.st1_g6 {
        font-size: 30px;
    }
    html[lang="id"] .promo-top h3 span.st2_g1 {
        top: 10px;
        font-size: 160px;
    }
    html[lang="id"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="id"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="id"] .promo-top h3 span.st3_g2 {
        top: 10px;
        font-size: 28px;
    }

    html[lang="id"] .promo-top h3 span.st2_g6 {
        top: 15px;
        font-size: 151px;
    }
    html[lang="id"] .promo-top h3 span.st3_g6 {
        top: 20px;
        font-size: 32px;
    }

    html[lang="id"] .promo-top ul.checks li {
        font-size: 20px;
    }

    html[lang="id"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="id"] .promo-top h3 span.st3_g1.JPY {
        top: -38px;
        font-size: 84px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g1 {
        top: -40px;
        font-size: 160px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g1 {
        top: -50px;
        font-size: 32px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g2 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g2 {
        top: -10px;
        font-size: 28px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g6 {
        top: -10px;
        font-size: 151px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g6 {
        top: -15px;
        font-size: 32px;
    }

    html[lang="ko"] .promo-top ul.checks li {
        font-size: 20px;
    }

    html[lang="ko"] .promo-top h3 span.st2_g1.JPY {
        top: -17px;
        font-size: 117px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g1.JPY {
        top: -23px;
        font-size: 49px;
    }

}

@media (max-width: 767px) {

    .st2.st2_g6 {
        margin: 0px;
    }

    .promo-top h3 {
        top: 0;
        border-left: 0;
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .promo-top h3 .st1,
    .promo-top h3 .st2,
    .promo-top h3 .st3,
    .promo-top h3 .st4 {
        top: 0;
        left: 0;
    }

    .promo-top h3 {
        height: auto;
        margin-top: 60px;
    }

    .promo-top h3 .st1 {
        font-size: 40px;
    }

    .promo-top h3 .st2 {
        position: relative;
        top: -20px;
        font-size: 125px;
    }

    .promo-top h3 .st3 {
        position: relative;
        top: -45px;
        left: 0;
        max-width: 100%;
        font-size: 65px;
    }

    .promo-top h3 .st3.st3_g2 {
        position: relative;
        margin-top: -40px;
        top: 0px;
        left: 0;
        max-width: 100%;
        font-size: 34px;
    }

    .st3.st3_g5 {
        max-width: 100%;
        margin-top: 50px;
        font-size: 34px;
    }

    h3.st3_g5 {
        height: 335px;
    }

    html[lang="ja"] .promo-top h3 span.st2_g1 {
        font-size: 88px;
    }
    html[lang="ja"] .promo-top h3 span.st3 {
        top: -10px;
        font-size: 39px;
    }
    html[lang="ja"] .promo-top h3 .st2 {
        top: 0px;
    }
    html[lang="ja"] .promo-top h3 span.st3_g2 {
        top: 0px !important;
    }
    html[lang="ja"] .promo-top h3.h3_g5 {
        height: auto;
    }

    .promo-top h3 .st2.st2_g2 {
        font-size: 146px !important;
    }

    html[lang="hu"] .promo-top h3 span.st3_g2 {
        top: 0px;
    }
    html[lang="hu"] h3.h3_g5 {
        height: auto;
    }

    html[lang="ko"] .promo-top h3 span.st3_g2 {
        top: 0px;
    }
    html[lang="ko"] .promo-top h3 span.st3_g1 {
        top: -35px;
        max-width: 100%;
        font-size: 40px;
    }

    html[lang="zh_CN"] .promo-top h3 span.st2_g2 {
        top: -20px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g2 {
        top: -2px;
        font-size: 35px;
    }
    html[lang="zh_CN"] .promo-top h3 span.st3_g1 {
        top: -20px;
    }
    html[lang="bn"] .promo-top h3 .st3.st3_g2{
        top: -2px;
        font-size: 35px;
    }

    html[lang="ru"] .promo-top h3 span.st3_g1 {
        top: -48px;
        font-size: 49px;
        max-width: 100%;
    }
    html[lang="ru"] .promo-top h3 .st3.st3_g2 {
        font-size: 33px;
    }

    html[lang="tr"] .promo-top h3 span.st3_g1 {
        top: -37px;
        font-size: 48px;
        max-width: 100%;
    }

    html[lang="ph"] .promo-top h3 span.st2_g1 {
        top: 2px;
        font-size: 223px;
    }
    html[lang="ph"] .promo-top h3 span.st2_g1.JPY {
        top: 2px;
        font-size: 145px;
    }
    html[lang="ph"] .promo-top h3.h3_g1 {
        height: auto;
    }

    html[lang="de"] .promo-top h3 .st3.st3_g2 {
        font-size: 31px;
    }

    .promo-top h3.h3_g5 {
        height: auto;
    }
}

html[lang="ar"] .promo-top h3 span.st2_g2,
html[lang="fa"] .promo-top h3 span.st2_g2 {
    top: -10px;
    font-size: 200px;
}
html[lang="ar"] .promo-top h3 span.st3_g2,
html[lang="fa"] .promo-top h3 span.st3_g2 {
    top: -24px;
}
html[lang="ar"] .promo-top h3 .st4,
html[lang="fa"] .promo-top h3 .st4 {
    right: -12px;
    left: auto;
}

@media (max-width: 991px) {
    html[lang="ar"] .promo-top h3 span.st3_g2,
    html[lang="fa"] .promo-top h3 span.st3_g2 {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    html[lang="ar"] .promo-top h3,
    html[lang="fa"] .promo-top h3 {
        border-left: 0;
        padding-left: 0;
        border-right: 12px solid #29a643;
        padding-right: 25px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g2,
    html[lang="fa"] .promo-top h3 span.st3_g2 {
        max-width: 100%;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    html[lang="ar"] .promo-top h3,
    html[lang="fa"] .promo-top h3 {
        border-left: 0;
        padding-left: 0;
        border-right: 12px solid #29a643;
        padding-right: 25px;
        text-align: right;
    }
    html[lang="ar"] .promo-top h3 .st1_g2,
    html[lang="fa"] .promo-top h3 .st1_g2 {
        top: -17px;
        font-size: 50px;
    }
    html[lang="ar"] .promo-top h3 span.st2_g2,
    html[lang="fa"] .promo-top h3 span.st2_g2 {
        top: -27px;
        font-size: 180px;
    }
    html[lang="ar"] .promo-top h3 span.st3_g2,
    html[lang="fa"] .promo-top h3 span.st3_g2 {
        top: -53px;
        font-size: 33px;
    }
}
@media (max-width: 767px) {
    html[lang="ar"] .promo-top h3 span.st3_g2,
    html[lang="fa"] .promo-top h3 span.st3_g2 {
        max-width: 100%;
        top: -6px;
    }
}
@media(min-width:768px) {
    html[lang="fa"] .promo-top h3 .st2 {
        direction: ltr;
        text-align: right;
    }
}

html[lang="ar"] .promo-top h3 .st1,
html[lang="ar"] .promo-top h3 .st3 {
    font-family: Tahoma, 'Helvetica Neue', Helvetica, sans-serif!important;
}
