/* BENGALI */

.promo .left_box h3.large{
  font-family: "bold","bold_ext",sans-serif;
  position: relative;
  top: -11px;
  font-size: 240px;
}
.promo .left_box h3.first, .promo .left_box h3.large, .promo .left_box h3.last {
    font-size: 37px;
}
.promo .right_box ul li.green,
.promo .right_box ul li {
    font: normal 16px Arial, sans-serif;
    line-height: 35px;
}


.affiliate.affiliates .aff-program .box h4 {
    font-size: 91px;
}
.affiliate .aff-program .box h4 {
    top: -8px;
}
.affiliate.affiliates .aff-program .box h3 {
    top: -26px;
    font-size: 30px;
}

.affiliate.sub_affiliates .aff-program .box h4 {
    font-size: 55px;
}
.affiliate .aff-program .box h4 {
    top: -22px;
}
.affiliate.sub_affiliates .aff-program .box h3 {
    top: -23px;
}
.affiliate.sub_affiliates .aff-program .box h3 {
    font-size: 38px;
}