/**********************************   Countdown   ***********************************/
.banner .tab h3	{ font-size: 21px; }
p.button_text	{ font-weight: bold; }
.main_right  h4	{ padding-left: 100px; }
ul.prize_pool	{ padding-left: 80px; }
ul.prize_pool li div.position{
  text-align: left;
  width: 250px;
  padding-left: 32px;
}
ul.prize_pool li div.position.fourth{ width: 250px; }
.prize_pool div.prize{ width: 0px; }

/**************************   Demo competition 15/07/13   ***************************/
.tab.green h3 {
  font-size: 29px;
}
.prize_pool.green div.prize {
  text-align: right;
  width: 60px;
}

/****************************   Gold & Silver 24/07/13   ****************************/
.goldsilver ul.prize_pool li div.position {
  width: 150px;
}
.goldsilver .prize_pool div.prize {
  width: 190px;
}

/*************************   Contests 20$ Free 11/12/2013   *************************/
body.contests_20_free .middle .main_left {
  height: 460px;
  padding-right: 10px;
}
body.contests_20_free .middle .main_left .twenty {
  font-size: 100px;
  line-height: 110px;
}
body.contests_20_free .middle .main_left .free {
  font-size: 100px;
  line-height: 200px;
}
body.contests_20_free .middle .main_left .start {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 132px;
  line-height: 150px;
}
body.contests_20_free .middle .main_right ul {
  margin-top: 10px;
}
body.contests_20_free .middle .main_right ul li {
  font-weight: 700;
}
body.contests_20_free .middle .main_right {
  height: 450px;
  margin-bottom: 10px;
  padding-left: 10px;
}
body.contests_20_free div.button_container {
  margin: 58px 20px 14px;
}
body.contests_20_free .middle .main_right a.free_button_twenty {
  line-height: 82px;
}
body.contests_20_free .middle .main_right .create {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 30px;
}

/**********************************   Lucky Draw   **********************************/
body.lucky_draw .top {
  font-family: 'Roboto Condensed','RobCond';
}

body.lucky_draw .middles .middle_container {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 22px;
}

body.lucky_draw h2.title {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 32px;
}
.lucky_draw a.button {
  font-family: 'Roboto Condensed','RobCond';
}
body.lucky_draw .bottom p {
  clear: both;
}

/*******************************   affiliates *********************************/
.affiliate.affiliates .aff-program .box h4 {
  font-size: 107px;
  top: -15px;
}
.affiliate.affiliates .aff-program .box h3 {
  top: -23px;
}

/*******************************   Sub - affiliates *********************************/
.affiliate.sub_affiliates .aff-program .box h4 {
  font-size: 135px;
  top: -26px;
  font-family: 'Roboto Condensed','RobCond';
}
.affiliate.sub_affiliates .aff-program .box h3 {
  top: -44px;
  font-size: 44px;
}
