/**********************************   Countdown   ***********************************/
.banner .tab h3 {
  font-size: 19px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  padding-top: 0;
}
.main_right  a.button p.button_text{ font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }
.main_right .prize_pool{ letter-spacing: 1px; }
.main_right .banner .tab h2 { font-size: 108px; }
a.button.regclosed 			{ font-size: 26px; }

.top_bullets .left{ width: 55%; }
.top_bullets .right{ width: 45%; }

/**************************   Demo competition 15/07/13   ***************************/
.banner .tab.green h3 {
  font-size: 24px;
}
.demo10k .top_bullets .left{
  width: 65%;
}
.demo10k .top_bullets .right {
  width: 35%;
}

/****************************   Gold & Silver 24/07/13   ****************************/
.goldsilver .comp_title,
.goldsilver a.button.green.gold{
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.goldsilver .prize_pool div.prize {
  width: 230px;
}
.goldsilver .top_bullets .left, .goldsilver .top_bullets .right {
  font-size: 26px;
}

/*******************   €50 Free + 100% Bonus Promotion 15/09/13   *******************/
.fifty div.bonus {
  top: 131px;
}
.fifty div.terms{
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.fifty div.terms .headliner{
  font-size: 24px;
}
.fifty div.bonus .headliner {
  font-size: 72px;
  line-height: 110px;
}
.fifty div.bonus .amount {
  font-size: 70px;
  line-height: 60px;
}
.fifty div.bonus .flag {
  top: 1px;
}
.fifty a.button .button_text {
  font-size: 32px;
}
.fifty .shiner{
  top: -312px;
}
.fifty div.terms .headliner_answer {
  font-size: 18px;
  margin-top: 40px;
}
div.promodate {
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  line-height: 62px;
  font-size: 16px;
}

/*********************   Skrill Promotion 17/10/13 - 16/11/13   *********************/
.skrill .top_half .headline {
  /* font-family: 'Roboto Condensed','RobCond';
   font-size: 63px;
   top: 410px;
   top: 385px;*/
  top: 379px;
  font-size: 62px;
}
.skrill .top_half .push_button_wrapper {
  /* top: 454px;
 top: 431px;*/
}
.skrill .top_half .push_button_wrapper a.buttonSkrill div.button_head {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 44px;
  padding-top: 19px;
}
.skrill .top_half .push_button_wrapper a.buttonSkrill div.button_body {
  margin-top: -1px;
}
.skrill .promo_guidelines h3 {
  font-family: 'Roboto Condensed','RobCond';
}

/*************************   Contests 20$ Free 11/12/2013   *************************/
body.contests_20_free .top_dark .quote_live {
  font-size: 40px;
}
body.contests_20_free .middle .main_left .free {
  font-size: 120px;
  line-height: 170px;
}
body.contests_20_free div.button_container {
  margin: 46px 20px 2px;
}
body.contests_20_free .middle .main_left {
  height: 493px;
  padding-left: 10px;
}
body.contests_20_free .middle .main_right {
  height: 490px;
  margin-bottom: 0;
  padding-left: 10px;
}

/**********************************   Lucky Draw   **********************************/
body.lucky_draw .top{
  font-family: 'Roboto Condensed','RobCond';
}
body.lucky_draw .middles .middle_container{
  font-family: 'Roboto Condensed','RobCond';
  font-size: 20px;
}
body.lucky_draw h2.title{
  font-family: 'Roboto Condensed','RobCond';
}
.lucky_draw a.button {
  font-family: 'Roboto Condensed','RobCond';
  font-size: 27px;
}
body.lucky_draw .right_tab {
  font-size: 20px;
  line-height: 25px;
}
body.lucky_draw .bottom p {
  clear: both;
}
body.lucky_draw ul.prizes li {
  padding: 0 31px;
}

/************************************   Ebook   ************************************/
.txt_center{text-align: center;}

body.ebook{
  background:  url(/assets/img/landing/ebook/book_bg_tile.png) 0 0 repeat, url(/assets/img/landing/ebook/book_bg.jpg) 0 0 repeat-x;
  line-height: 1.55;
}

body.ebook .topbar-bg {
  background: none;
  box-shadow: none;
}

body.ebook div.main{
  min-height: 600px;
  padding-top: 0px;
}

body.ebook .logoxm {
  position: relative;
}

body.ebook .pl_flag {
  position: relative;
  left: 810px;
  top: -42px;
  width: 160px
}

body.ebook h1{
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 30px;
  margin: 0;
}

body.ebook h2{
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  color: #F00;
  font-size: 42px;
  margin-top: 0;
  font-weight: 400;
}

body.ebook .half_left,
body.ebook .half_right{
  width: 50%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  height: 450px;
}

body.ebook .half_left img{
  position: relative;
  top: -65px;
}

body.ebook .half_right p.details{
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  line-height: 1.35;
  padding-left: 5px;
}

body.ebook .half_right p.details.small{
  font-size: 16px;
  margin-top: 27px;
  font-weight: 300;
}

body.ebook .half_right {
  padding-top: 15px;
}

body.ebook .half_right form {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

}

body.ebook .half_right form legend{
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  padding-left: 5px
}


body.ebook .half_right form select,
body.ebook .half_right form input{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 230px;
  border: 0;
  border-radius: 3px;
  float: left;
  margin: 5px;
  padding: 7px 5px;
  font-size: 12px;
  color: #7F7E7E;
  font-style: italic;
}

body.ebook .half_right form select{
  background: #ffffff; /* Old browsers */
  padding-left:  0;
}

body.ebook .half_right a.flat.red{
  width: auto;
  margin: 0;
  position:relative;
  box-shadow: none;
  border: 0;
  border-top: 3px solid transparent;
  top: 0;
  background: red;
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

body.ebook .half_right a.flat.red:hover{
  border: 0;
  border-top: 3px solid #88191A;
  top: 0;
}

body.ebook .half_right a.flat.red:active{
  border: 0;
  border-top: 3px solid transparent;
  top: 0;
}

body.ebook .half_right a.flat.red .btn_shadow{
  width: 521px;
  height: 16px;
  position: absolute;
  background: url(/assets/img/landing/ebook/btn_shadow.png);
  left: -20px;
  top: 58px;
}

body.ebook ul.hori_bullets{
  padding: 4px 0 0 0;
  margin: 0;
  font-family: 'Roboto Condensed','RobCond', sans-serif;
  color: white;
}

body.ebook  ul.hori_bullets li{
  display: inline-block;
  text-align: left;
  padding: 2px 10px 0 100px;
  font-size: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 25%;
  line-height: 21px;
  height: 46px;
}

body.ebook  ul.hori_bullets.vert li{
  display: block;
  width: auto;
  margin: 17px 0;
  background: none;
  line-height: 22px;
  padding-left: 10px;
  height: auto;
}

body.ebook  ul.hori_bullets li .icon{
  background-image: url(/assets/img/landing/ebook/bullet_icons.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
  float: left;
  padding-right: 15px;
}

body.ebook  ul.hori_bullets li:nth-child(2) .icon{background-position: 0px -23px;}
body.ebook  ul.hori_bullets li:nth-child(3).icon{background-position: 0px -46px;}
body.ebook  ul.hori_bullets li:nth-child(4) .icon{background-position: 0px -69px;}

body.ebook #footer-no_bg {
  background: #000;
  margin: 0;
}

.ebook .low_hr:first-of-type {
  visibility: hidden;
}

/************************************   Promo   ************************************/
.promo .g1g3 .right_box ul li {
  font-size: 19px;
  line-height: 34px;
}

/*******************************   Double Commission  *******************************/
.double_commission h1 {
  font-size: 44px;
}
.double_commission .box_left h3.first {
  font-size: 62px;
}
.double_commission .box_right h2 {
  font-size: 53px;
}
.double_commission .box_right ul li span {
  font-size: 23px;
}

/**********************************  affiliates ************************************/
.affiliate.affiliates .aff-program .box h3 {
  font-size: 32px;
  top: -18px;
}
.affiliate.affiliates .aff-program .box h4 {
  top: -5px;
  font-size: 103px;
}

/*******************************   Sub - affiliates *********************************/
.affiliate.sub_affiliates .aff-program .box h4 {
  font-size: 107px;
  top: -5px;
}
.affiliate.sub_affiliates .aff-program .box h3 {
  top: -25px;
  font-size: 33px;
}