/**********************************   Countdown   ***********************************/
.banner .tab h2 				{ font-size: 103px }
.banner .tab h3 	            { font-size: 18px; }
a.button.regclosed 			    { font-size: 28px; }

.top_bullets .left{ width: 60%; }
.top_bullets .right{ width: 40%; }

/**************************   Demo competition 15/07/13   ***************************/
.banner .tab.green h3 {
  font-size: 25px;
  padding-top: 0;
}
.demo10k .top_bullets .left{
  width: 65%;
}
.demo10k .top_bullets .right {
  width: 35%;
}

/****************************   Gold & Silver 24/07/13   ****************************/
.goldsilver .prize_pool div.prize {
  width: 222px;
}
.goldsilver .top_bullets .left{
  width: 48%;
}
.goldsilver .top_bullets .right{
  width: 52%;
}
.goldsilver .top_bullets .left, .goldsilver .top_bullets .right {
  font-size: 23px;
  line-height: 39px;
}

/*************************   Contests 20$ Free 11/12/2013   *************************/
body.contests_20_free .top_dark .quote_live {
  font-size: 42px;
}
body.contests_20_free .middle .main_left .free {
  font-size: 76px;
  line-height: 157px;
}
body.contests_20_free .middle .main_left .start {
  font-size: 56px;
  line-height: 67px;
}
body.contests_20_free .middle .main_right ul li {
  font-size: 25px;
  background: url('/assets/img/landing/contests_20_free/box_check.png') 0 8px no-repeat;
}
body.contests_20_free div.button_container {
  margin: 46px 20px 27px;
}
body.contests_20_free .middle .main_right .create {
  padding: 20px 0 55px 22px;
  font-size: 25px;
}
body.contests_20_free .middle .main_left {
  height: 445px;
  padding-left: 10px;
}
body.contests_20_free .middle .main_right {
  height: 440px;
  margin-bottom: 0;
  padding-left: 10px;
}

/*****************************   Neteller 18/12/2013   ******************************/
.neteller .top_half .headline {
  font-size: 60px;
}

/**********************************   Lucky Draw   **********************************/
body.lucky_draw .right_tab {
  font-size: 18px;
  line-height: 26px;
}
body.lucky_draw .bottom p {
  clear: both;
}
body.lucky_draw .middles .middle_container{
  font-family: 'Roboto Condensed','RobCond';
  font-size: 19px;
}

/************************************   Promo   ************************************/
.promo .g1g3 .right_box ul li {
  font-size: 19px;
  line-height: 34px;
}

/**********************************  affiliates ************************************/
.affiliate.affiliates .aff-program .box h4 {
  font-size: 146px;
  top: -37px;
}
.affiliate.affiliates .aff-program .box h3 {
  top: -62px;
  font-size: 28px;
}


/*******************************   Sub - affiliates *********************************/
.affiliate.sub_affiliates .aff-program .box h4 {
  font-size: 106px;
  top: -8px;
}
.affiliate.sub_affiliates .aff-program .box h3 {
  top: -28px;
  font-size: 37px;
}

/*******************************   Double Commission  *******************************/
.double_commission h1 {
  font-size: 41px;
}
.double_commission .box_left h3.first {
  font-size: 60px;
}
.double_commission .box_right h2 {
  font-size: 65px;
  line-height: 73px;
}
.double_commission .box_right ul li span {
  font-size: 18px;
}
.double_commission .box_right {
  height: 457px;
}
.double_commission .box_left h3.last {
  font-size: 104px;
  line-height: 10px;
}