/* --------------------------------------------------------------------------------------
+
+ Bengali
+
-------------------------------------------------------------------------------------- */

.promotion .half-box h5,
.promotion .small-half-box h5,
.xmp-package h3,
.loyalty-status,
.loyalty-reward1 h3,
.loyalty-reward2 h3,
.loyalty-reward1 h4,
.loyalty-reward2 h4,
.bonusXMP10,
.bonusXMP13,
.bonusXMP16,
.bonusXMP20,
ul#myTabPackages li span,
ul#myTabLoyalty li a span,
.promotion .half-box h5,
.promotion .small-half-box h5,
.xmp-package h3,
.loyalty-status,
.stripe em {
  font-family: 'Hind Siliguri';
  font-weight: bold;
}

.main-nav a,
.main-nav ul li .dropdown .wrap .block h3,
.parent .top-bar h1,
.stripe span,
.webinars h4,
.toggleLeftNav span,
.toggleRightNav span,
.steps-form .circle,
.reasons-list,
.steps-form .circle.active,
.main-photo .block h2, 
.main-slider .block h2,
a.btn.btn-solid, button.btn.btn-red, .btn.btn-red, .btn.btn-blck, button.btn.btn-grey {
    font-family: "bold", "bold_ext", 'Hind Siliguri';
}

/* Overwrite "bold", sans-serif font" */
h3.border,
a.btn, button.btn,
a.btn.btn-big, button.btn.btn-big,
a.btn.btn-drop, button.btn.btn-drop,
.promotion .prom1 .box h3,
.promotion .prom2 .box h3,
.promotion .prom1 .box-left span,
.promotion .prom1 .box-right span,
.promotion .prom2 .box-left span,
.promotion .prom2 .box-right span,
.promotion span.or,
.sidebar.mArea .btn-red,
.sidebar.mArea .btn-green,
.sidebar.mArea .btn-gray,
.links-slider .slide a,
.nav-tabs > li > h3,
.nav-tabs > li > a,
nav ul.pagination li a,
.seminars .panel-default > .panel-heading .date,
.btn-file,
.mArea .balance-bar span.amount,
.about-xm .timeline,
.no-deposit h5,
.no-deposit h4,
.cirle,
.platforms-center h3,
#myModalIndex button,
.sidebar.mArea .alert,
.alert.account-status h2 {
  font-family: regular, 'Hind Siliguri';
  font-weight: bold;
}

ol.reasons-list li a b{
    font-family: "bold", "bold_ext", sans-serif;
}
.main-photo .block .btn-readmore, 
.main-slider .block .btn-readmore {;
    font-size: 18px;
}
.main-photo .block .big-slider-title {
  font-size: 42px;
}
.accents .accent em,
.reasons-list,
a.btn small{
    font-weight: 300;
}

a.btn.btn-solid, button.btn.btn-red, .btn.btn-red, .btn.btn-blck, button.btn.btn-grey{
    font-size: 22px;
}

.buttons-wrap a.btn {
  font-size: 25px;
  line-height: normal;
}


.forms-pdf h4{line-height: 1.3;}

.parent .top-bar ol.breadcrumb{padding-top: 5px;}

.lots_bonus_single .big_txt{
    margin-top: 32px;
    font-size: 32px;
    font-family: bold;
}

.lots_bonus_single .small_txt {
    font-size: 16px;
}

.mArea .login .btn {
    font-size: 18px;
    font-weight: 700;
}


body.islamic_2014 .box_offer a.flat.yellow span.line{
      top: 9px!important;
}

#world-championship .round-wrap.xl .round {
    font-size: 35px;
    line-height: 38px;
    font-weight: bold;
    margin-top: 45px;
}

#world-championship .round-circle .round {
    font-size: 36px;
    font-weight: bold;
}

#world-championship .round-wrap.rect .round-circle .round {
    line-height: 70px;
}
#world-championship .round-wrap.rect.xl .round {
    line-height: 90px;
}

.main-photo #owl-main .item .block.championship h2, 
.main-slider #owl-main .item .block.championship h2 {
    font-size: 48px;
}


#main-nav.navbar-nav > li > a {
    font-size: 17px!important;
}

.partners #main-nav.navbar-nav > li > a {
    font-size: 16px!important;
}

.members_area #main-nav.navbar-nav > li > a {
    font-size: 14px!important;
    padding-left: 0px;
    padding-right: 13px;
}

button.btn.btn-solid.datepicker_button{
    font-family: robcond,'Hind Siliguri';
    white-space: nowrap;
}

ul.buttons-nav li a.btn{
    white-space: nowrap;
}

.sticky-bar .content .text {
    width: 67%;
}
.sticky-bar .content .btn {
    font-size: 17px;
}
.sidebar a.btn small{
    margin-top: 10px;
}

.mArea .login .btn {
    font-size: 17px;
}
.seminars .panel-default>.panel-heading .month {
    min-width:120px
}
.buttons-wrap a.btn small > span {
  display: none;
}
/**********************  Mobile Bar **********************/

@media (min-width: 361px) {
    [lang="bn"] #mobileAppBar .text-wrap h3 {
    font-size: 17px;
    }
    #mobileAppBar .text-wrap p {
    font-size: 12px;
    }
}
@media (max-width: 360px){
    #mobileAppBar .text-wrap h3 {
        font-size: 12px;
    }   
}

/***************************   Holiday Schedule   *****************************/
a.btn, button.btn {
    padding: 8px 11px!important;
}
a.btn.btn-drop, button.btn.btn-drop {
    padding: 10px 20px 6px 20px!important;
}

.header-top .buttons-nav .btn-feature {
    padding: 7px 15px!important;
}

a.btn.btn-solid.btn-red, 
button.btn.btn-solid.btn-red {
    padding: 9px 11px!important;
}

.header-top ul li + li {
    margin-left: 15px;
}
/***********************   End of Holiday Schedule   *************************/

/* HOMEPAGE 2017 */
.main-site.hp-v17 #hero-content .title {
  font-size: 37px;
}
.main-site.hp-v17 .text-btn-content .box-text-btn .btn {
   font-size: 20px!important;
}
.main-site.hp-v17 .buttons-wrap .btn.btn-green, 
.main-site.hp-v17 .buttons-wrap .btn.btn-red {
    font-size: 28px;
}
.main-site.hp-v17 .benefit-account .btn.btn-red, 
.main-site.hp-v17 .benefit-account .btn.btn-green {
    font-size: 22px;
}
.main-site.hp-v17 .benefit-account .btn-red small, 
.main-site.hp-v17 .benefit-account.btn-green small {
    margin-top: 5px;
}
.btn-red small, .btn-green small, .btn-gray small {
    display: block;
    font-family: "Arial", sans-serif!important;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none!important;
    text-transform: none;
}
.main-site.hp-v17.partners #hero-content .stripe em {
    font-size: 58px;
    font-family: sans-serif!important;
}
.main-site.hp-v17.partners .buttons-wrap .btn.btn-green, 
.main-site.hp-v17.partners .buttons-wrap .btn.btn-red,
.hp-v17.partners .buttons-wrap .btn.btn-gray {
    font-size: 20px;
    text-transform: uppercase;
}
@media(max-width:991px) {
    .main-site.hp-v17.partners .buttons-wrap .btn.btn-green,
    .main-site.hp-v17.partners .buttons-wrap .btn.btn-red,
    .hp-v17.partners .buttons-wrap .btn.btn-gray {
        font-size: 20px;
    }
}
/* END HOMEPAGE 2017 */