/* --------------------------------------------------------------------------------------
+
+ Indonesian
+
-------------------------------------------------------------------------------------- */
.main-photo .block .btn-readmore, .main-slider .block .btn-readmore {
  font-size: 23px;
}
.links-slider .slide a small {
  font-size: 16px;
}

/********************************   Promotion pages   *******************************/
.lots_bonus_single .small_txt {
  font-size: 16px;
  margin-top: -1px;
  line-height: 18px;
  letter-spacing: -1px;
}

.promotion h4 {
  font-size: 23px;
}

.promotion .btn {
  font-size: 23px !important;
  padding: 8px 13px !important;
}

/**********************************   XM CONTESTS   **********************************/
.contest-promo h2 span {
  font-size: 50px;
}

/**********************************   MEMBERS AREA   **********************************/

/***************************   Forex World Championship   *****************************/
#world-championship .round-circle .text2 {
   padding: 0 30px;
}

#world-championship .round-wrap.xl .text1,
#world-championship .round-wrap.xl .active .text1 {
  padding: 0 30px;
}

#world-championship .round-wrap.xl.r3 .round {
    margin-top: 30px;
}

.members_area #main-nav.navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 360px) {
  #xmmc_transactions label {
    font-size: 13px;
  }
}

.vm_test{
  /* Delete as soon as this file will be deployed */
  display:block;
}

#ib-competition header h2.sub {
  font-size: 34px;
}
#ib-competition .banner {
  padding-left: 18px;
  padding-right: 18px;
}
#ib-competition .banner2 .content span {
  bottom: -18px;
}
#ib-competition .banner1 .content span {
  bottom: -108px;
}

#ib-competition ul.banner li {
  font-size: 14px;
}

/* HOMEPAGE 2017 */
@media (max-width: 374px) {
   .main-site.hp-v17 .buttons-wrap a.btn small {
      font-size: 12px!important;
  } 
}
/* END HOMEPAGE 2017 */