/* --------------------------------------------------------------------------------------
+
+ Japanese
+
-------------------------------------------------------------------------------------- */
/* GENERAL */
/* Overwrite "Oswald", sans-serif font" */
.promotion .half-box h5,
.promotion .small-half-box h5,
.seminars .panel-default > .panel-heading .details,
.xmp-package h3,
.loyalty-status,
.loyalty-reward1 h3,
.loyalty-reward2 h3,
.loyalty-reward1 h4,
.loyalty-reward2 h4,
.bonusXMP10,
.bonusXMP13,
.bonusXMP16,
.bonusXMP20,
ul#myTabPackages li span,
ul#myTabLoyalty li a span,
.promotion .half-box h5,
.promotion .small-half-box h5,
.seminars .panel-default > .panel-heading .details,
.xmp-package h3,
.loyalty-status,
.stripe em,
.page404 h1 {
  font-family: "regular", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

/* Overwrite "regular", sans-serif font" */
.main-nav a,
.main-nav ul li .dropdown .wrap .block h3,
.parent .top-bar h1,
.stripe span,
.webinars h4,
.toggleLeftNav span,
.toggleRightNav span,
.about-xm .box-border1 h4,
.steps-form .circle,
.steps-form .circle.active,
.about-xm .timeline .year {
  font-family: "regular", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

/* Overwrite "bold", sans-serif font" */
h3.border,
a.btn, button.btn,
a.btn.btn-big, button.btn.btn-big,
a.btn.btn-drop, button.btn.btn-drop,
.promotion .prom1 .box h3,
.promotion .prom2 .box h3,
.promotion .prom1 .box-left span,
.promotion .prom1 .box-right span,
.promotion .prom2 .box-left span,
.promotion .prom2 .box-right span,
.promotion span.or,
span.promo-num h5,
.sidebar.mArea .btn-red,
.sidebar.mArea .btn-green,
.sidebar.mArea .btn-gray,
.reasons-list,
#dashboard-wrap,
.links-slider .slide a,
.nav-tabs > li > h3,
.nav-tabs > li > a,
nav ul.pagination li a,
.seminars .panel-default > .panel-heading .date,
.btn-file,
.mArea .balance-bar span.amount,
.about-xm .timeline,
.no-deposit h5,
.no-deposit h4,
.cirle,
.platforms-center h3,
#myModalIndex button,
.sidebar.mArea .alert {
  font-family: "bold", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

.main-photo .block h2, #owl-main .item .block h2 {
  font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
}

/* Bold buttons */
a.btn, button.btn,
a.btn.btn-big, button.btn.btn-big,
a.btn.btn-drop, button.btn.btn-drop,
.btn-file, .sidebar.mArea .alert, .alert a.btn,
.mArea h1 {
  font-weight: bold;
}
.buttons-wrap a.btn {
    font-size: 30px!important;
}
.stripe span {
  font-size: 16px;
  text-transform: capitalize;
}

.stripe em {
  font-family: "bold", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
  font-size: 45px;
  font-weight: 300 !important;
}

/* Main Nav */
.main-nav a,
.main-nav ul li .dropdown .wrap .block h3,
.about-xm .box-border1 h4 {
  font-family: "bold", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

body, h2, h3,
.main-photo .block p, #owl-main .item .block p,
.accents .accent em, .main-nav ul li .dropdown .box p,
.main-nav ul li .dropdown .wrap .block ul li a,
.main-photo .read-more, #owl-main .item .block .read-more,
.page404 h2, .page404 h3, .risk-warning,
.about-xm .box-border1 small, .about-xm .box-border1 p.big,
.about-xm .timeline ul li,
.forms-pdf h4, blockquote p,
.divTable .content ul li.title, .divTable .content ul li.text, .divTable.cards .content ul li.title, .divTable.cards .content ul li.text,
.header-top .links-nav a
.risk-warning {
  font-family: "Roboto", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

.header-top .links-nav a {
  font-size: 11px;
  font-weight: bold;
}

.accents .accent em {
  font-size: 18px;
}

form#mobile_verification button {
  font-size: 22px;
}

.buttons-wrap .btn {
  padding: 9px 20px 0px 20px !important;
}

a.btn.btn-solid,
button.btn.btn-red,
.btn.btn-red,
.btn.btn-blck {
  font-size: 22px;
}

/* --------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------- */
#main-nav.navbar-nav > li > a {
  font-size: 17px !important;
  font-weight: bold;
  padding: 10px 13px;
}

.links-slider .slide a {
  font-weight: 600;
  font-size: 20px;
}

.links-slider .slide a small {
  font-size: 16px;
}

.header-top .buttons-nav .btn-white,
.header-top .buttons-nav a.btn-green,
.header-top .buttons-nav a.btn-red,
a.btn.btn-drop, button.btn.btn-drop {
  font-size: 12px !important;
}

.header-top .buttons-nav a.btn-red {
  padding: 11.5px 9px !important;
}

.header-top button.btn.btn-drop {
  padding: 10px 20px 8px 20px !important;
}

.header-top a.btn {
  padding: 10.5px 9px !important;
}

#dashboard-wrap > div {
  padding: 0 9%;
}

.reasons-list li a,
.links-slider .slide a {
  font-weight: 600;
}

.reasons-list {
  font-size: 22px;
}

.main-photo .block .btn-readmore, 
#owl-main .item .block .btn-readmore {
  font-size: 18px;
}

.parent .top-bar h1 {
  font-size: 45px;
  letter-spacing: -1px;
}

.about-xm .timeline {
  padding-left: 95px;
}

.about-xm .timeline:before {
  left: 68px;
}

.about-xm .timeline .year {
  left: -142px;
  font-size: 20px;
  letter-spacing: -1px;
}

.about-xm .timeline ul:before {
  left: -70px;
}

.about-xm .timeline ul li:before {
  left: -39px;
}

.reasons-list {
  font-size: 20px;
}

.reasons-list li a {
  padding: 11px 0;
}

h3.border,
.nav-tabs > li.active > a,
h2, h3 {
  font-weight: bold !important;
}

h3.reset.single-tab {
  font-size: 16px;
  font-family: "bold","bold_ext", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

.page404 h2, .page404 h3 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.about-xm .timeline ul li {
  font-weight: normal;
}

/********************************   Promotion pages   *******************************/
.lots_bonus_single .big_txt {
  font-size: 45px;
  margin-top: 20px;
}

.promotion .btn {
  font-size: 21px !important;
}

span.promo-num h5 {
  font-family: "bold" !important;
}

/********************************   Check Box Switch   *******************************/
.switch-label {
  font-size: 10px;
}

.switch-label:after {
  left: 10px;
}

.switch-label:before {
  right: 3px;
}

/**********************************   XM Contests   **********************************/
.contest-promo h2 {
  font-family: "bold", sans-serif !important;
}


/*******************   Forex World Championship   *********************/
#world-championship .header h2 {
    font-size: 49px;
  }

  #world-championship .round-circle .round{
    font-family: "Roboto", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
    font-size: 28px;
    font-weight: bold;
    height: 32px;
    margin-top: 14px;
  }

  #world-championship .round-wrap.rect .round-circle .round {
    top: -14px;
    position: relative;
    margin-top: 6px;
  }

  #world-championship .round-wrap.rect.xl .round {
    margin-top: 12px!important;
}

#world-championship .round-wrap.xl.r3 .round {
    margin-top: 37px;
    font-size: 38px;
    line-height: 40px;
}

#world-championship .round-wrap.xl .text1,
#world-championship .round-wrap.xl .active .text1 {
    font-size: 13px;
    line-height: 18px;
    padding: 0 50px;
}

.main-photo .block, .main-slider .block {
    max-width: 760px;
}

.main-photo .block h2, 
#owl-main .item .block h2 {
    font-family: "bold", "bold_ext", "robcond", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif !important;
}

/***************************   Holiday Schedule   *****************************/
.header-top .buttons-nav .btn-white,
.header-top .buttons-nav a.btn-green,
.header-top .buttons-nav a.btn-red,
a.btn.btn-drop, button.btn.btn-drop {
  font-size: 11px !important;
}
.header-top .buttons-nav .btn-feature {
  padding: 9px 20px!important;
}
/***********************   End of Holiday Schedule   *************************/

/* #Media Queries
================================================== */
@media (max-width: 767px) {
  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 72px;
    font-weight: normal;
  }
  .reasons-list li a {
    font-size: 14px;
  }
  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 53px;
  }
  .main-photo .block p, #owl-main .item .block p {
    font-size: 16px;
  }
  #owl-main .item {
    height: 290px;
  }
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  min-width: 70px;
}
.partners .main-photo .block h2, .partners #owl-main .item .block h2 {
  font-size: 58px;
}

#mobileAppBar .text-wrap h3 {
    font-size: 15px;
}

@media (max-width: 360px) {
  #mobileAppBar .text-wrap p {
      font-size: 12px;
  }
}

@media (max-width: 1199px){
  #main-nav.navbar-nav.nav-logo > li > a {
    font-size: 14px!important;
  }
}

@media (min-width: 992px) and (max-width: 1299px){
  .members_area #main-nav.navbar-nav > li > a {
      font-size: 15px!important;
    }
}

ul#main-nav {
  margin-top: 5px;
}

/**********************************   MEMBERS AREA   **********************************/
.members_area #main-nav.navbar-nav > li > a {    
  padding: 10px 9px;
  font-size: 16px !important;
}