/* --------------------------------------------------------------------------------------
+
+ Polish
+
-------------------------------------------------------------------------------------- */
.main-photo .block .btn-readmore, 
.main-slider .block .btn-readmore {
    font-size: 24px;
}
.main-photo .block .big-slider-title {
  font-size: 58px;
}

.reasons-list {
  font-size: 22px;
}

.partners header .nav>li>a, .members_area header .nav>li>a{
    padding: 10px 12px;
}

.partners #main-nav.navbar-nav>li>a {
    font-size: 19px !important;
}

/**********************************   XM CONTESTS   **********************************/
.contest-promo h2 span {
  font-size: 39px;
  font-family: "regular","regular_ext", "Arial", sans-serif !important;
}

/****************************   Sliders   ***************************/


/***************************   Forex World Championship   *****************************/
#world-championship .round-circle .text2 {
   padding: 0 25px;
}
#world-championship .round-circle .round {
    font-size: 41px;
    height: 38px;
}
#world-championship .round-circle .price {
    font-size: 36px;
    height: 42px;
}
#world-championship .round-circle .winners {
    margin-top: 5px;
}
#world-championship .round-wrap.xl .round {
    font-size: 36px;
    line-height: 35px;
}
#world-championship .round-wrap.xl .round {
    padding: 0 24px;
}

/***************************   Holiday Schedule   *****************************/
a.btn, button.btn {
    padding: 8px 11px!important;
}
/*
.header-top .buttons-nav .btn-white,
.header-top .buttons-nav a.btn-green,
.header-top .buttons-nav a.btn-red,
a.btn.btn-drop, button.btn.btn-drop {
    font-size: 13px !important;
}
*/
.header-top .links-nav li {
    font-size: 11px;
    position: relative;
    color: #fff;
}
.header-top ul li + li {
    margin-left: 13px;
}
/***********************   End of Holiday Schedule   *************************/
/*
.header-top .buttons-nav a.btn-green,
.header-top .buttons-nav a.btn-red {
    font-size: 16px!important;
}
*/
.buttons-wrap a.btn small > span {
  display: none;
}

/* HOMEPAGE 2017 */
.main-site.hp-v17 #hero-content .title {
  font-size: 33px;
}
.main-site.hp-v17 .text-btn-content .box-text-btn p {
  font-size: 20px;
}
/* END HOMEPAGE 2017 */