/* --------------------------------------------------------------------------------------
+
+ Portuguese
+
-------------------------------------------------------------------------------------- */
.main-photo .block .btn-readmore, 
.main-slider .block .btn-readmore {
    font-size: 24px;
}
.main-photo .block .big-slider-title {
  font-size: 50px;
}
.links-slider .slide a small {
  font-size: 15px;
}

.links-slider .slide a {
  font-size: 25px;
}

/********************************   Promotion pages   *******************************/
.loyalty-status {
  width: 140px;
}

.promotion .btn {
  font-size: 23px !important;
}

.lots_bonus_single .big_txt {
  font-size: 42px;
  margin-top: 14px;
}

.lots_bonus_single .small_txt {
  font-size: 18px;
  line-height: 22px;
}

.stripe em {
  font-family: "Roboto", "Roboto Condensed", "RobCond" !important;
  font-size: 45px;
  font-weight: 300 !important;
}
.buttons-wrap a.btn small > span {
  display: none;
}
/* #Media Queries
================================================== */
@media (max-width: 767px) {
  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 72px;
    font-weight: normal;
  }

  .reasons-list li a {
    font-size: 14px;
  }

  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 58px;
  }

  .main-photo .block p, #owl-main .item .block p {
    font-size: 16px;
  }

  #owl-main .item {
    height: 290px;
  }
}
@media (min-width: 992px) and (max-width: 1299px){
  .members_area #main-nav.navbar-nav > li > a {
      font-size: 17px!important;
    }
}

/**********************************   XM CONTESTS   **********************************/
.contest-promo h2 span {
  font-size: 42px;
}

@media (max-width: 350px) {
  .main-photo .block h2.visible-xs,
  #owl-main .item .block h2.visible-xs {
  font-size: 48px;

  }
}

/****************************   Partners Main Menu   ***************************/
#main-nav.partnersNavMenu > li > a {
  padding: 15px 8px !important;
}

/**********************************   MEMBERS AREA   **********************************/
.members_area #main-nav.navbar-nav > li > a {
  padding: 10px 8px;
}

/***************************   Forex World Championship   *****************************/
#world-championship .round-circle .round {
    font-size: 38px;
    height: 36px;
    margin-top: 7px;
}
#world-championship .round-circle .price {
    font-size: 33px;
    height: 39px;
}
#world-championship .round-circle .winners {
  margin-top:5px;
}
#world-championship .round-wrap.xl .round {
  font-size: 37px;
  line-height: 43px;
  padding: 0 31px;
}
#world-championship .round-wrap.xl .big-prizes .price {
    font-size: 63px;
}
#world-championship .round-wrap.xl .text1,
#world-championship .round-wrap.xl .active .text1 {
  padding: 0 20px;
}
#world-championship .round-circle .text2 {
  padding: 0 20px;
}

/* HOMEPAGE 2017 */
.main-site.hp-v17 #hero-content .title {
  font-size: 37px;
}
.main-site.hp-v17 .text-btn-content .box-text-btn p {
  font-size: 21px;
}

@media(max-width:991px) {
  .main-site.hp-v17.partners .buttons-wrap .btn.btn-green,
  .main-site.hp-v17.partners .buttons-wrap .btn.btn-red {
      font-size: 25px;
  }
}
/* END HOMEPAGE 2017 */