/* --------------------------------------------------------------------------------------
+
+ Thai
+
-------------------------------------------------------------------------------------- */
/* GENERAL */
/* Overwrite "Oswald", sans-serif font" */
.promotion .half-box h5,
.promotion .small-half-box h5,
.seminars .panel-default > .panel-heading .details,
.xmp-package h3,
.loyalty-status,
.loyalty-reward1 h3,
.loyalty-reward2 h3,
.loyalty-reward1 h4,
.loyalty-reward2 h4,
.bonusXMP10,
.bonusXMP13,
.bonusXMP16,
.bonusXMP20,
ul#myTabPackages li span,
ul#myTabLoyalty li a span,
.promotion .half-box h5,
.promotion .small-half-box h5,
.seminars .panel-default > .panel-heading .details,
.xmp-package h3,
.loyalty-status,
.stripe em {
  font-family: "Roboto", "Roboto Condensed", "RobCond" !important;
}

.main-photo .block h2, 
#owl-main .item .block h2 {
  font-family: "bold", "bold_ext", "RobCond", "Roboto" !important;
  text-transform: uppercase;
  font-weight: bold;
}
.main-photo .block .btn-readmore, 
#owl-main .item .block .btn-readmore {
    font-size: 18px;
}

.main-photo .block .big-slider-title {
  font-size: 50px;
}

/* Overwrite "regular", sans-serif font" */
.main-nav a,
.main-nav ul li .dropdown .wrap .block h3,
.parent .top-bar h1,
.stripe span,
.webinars h4,
.toggleLeftNav span,
.toggleRightNav span,
.about-xm .box-border1 h4,
.steps-form .circle,
.steps-form .circle.active {
  font-family: "Roboto", "Roboto Condensed", "RobCond" !important;
}

/* Overwrite "bold", sans-serif font" */
h3.border,
a.btn, button.btn,
a.btn.btn-big, button.btn.btn-big,
a.btn.btn-drop, button.btn.btn-drop,
.promotion .prom1 .box h3,
.promotion .prom2 .box h3,
.promotion .prom1 .box-left span,
.promotion .prom1 .box-right span,
.promotion .prom2 .box-left span,
.promotion .prom2 .box-right span,
.promotion span.or,
span.promo-num h5,
.sidebar.mArea .btn-red,
.sidebar.mArea .btn-green,
.sidebar.mArea .btn-gray,
.reasons-list,
#dashboard-wrap,
.links-slider .slide a,
.nav-tabs > li > h3,
nav ul.pagination li a,
.seminars .panel-default > .panel-heading .date,
.btn-file,
.mArea .balance-bar span.amount,
.about-xm .timeline,
.no-deposit h5,
.no-deposit h4,
.cirle,
.platforms-center h3,
#myModalIndex button,
.header-top .links-nav a {
  font-family: "Roboto", "Roboto Condensed", "RobCond"!important;
}

#xm-wechat .nav-tabs > li > a {
  font-family:"bold", "bold_ext"!important;
}

/* Bold buttons */
a.btn, button.btn,
a.btn.btn-big, button.btn.btn-big,
a.btn.btn-drop, button.btn.btn-drop,
.btn-file {
  font-weight: bold;
}

.stripe span {
  font-size: 16px;
  text-transform: capitalize;
}

.stripe em {
  font-family: "Roboto", "Roboto Condensed", "RobCond" !important;
  font-size: 45px;
  font-weight: 300 !important;
}

/* Main Nav */
.main-nav a,
.main-nav ul li .dropdown .wrap .block h3,
.main-nav ul li .dropdown .box h2 {
  font-family: "RobCond", "Roboto Condensed" !important;
}

.main-nav ul li .dropdown .wrap .block ul li a {
  font-family: Arial, sans-serif !important;
}

/* --------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------- */
.main-nav ul li .dropdown .wrap .block h3 {
  font-weight: normal;
}
/*
.header-top .buttons-nav .btn-white,
.header-top .buttons-nav a.btn-green,
.header-top .buttons-nav a.btn-red,
a.btn.btn-drop, button.btn.btn-drop {
  font-size: 12px !important;
}
*/
#main-nav.navbar-nav > li > a {
  font-size: 19px !important;
  padding-left: 6px;
  padding-right: 6px;
}

.reasons-list {
  font-size: 19px;
  font-weight: 600;
}

.reasons-list a {
  padding: 12px 0;
}

.reasons-list li {
  font-size: 16px;
}

#dashboard-wrap b {
  font-size: 14px;
  font-weight: 600;
}

.reasons-list b {
  font-weight: bold;
}

.links-slider .slide a {
  font-size: 17px;
  font-weight: 600;
}

.links-slider .slide a {
  font-size: 20px;
}

.links-slider .slide a small {
  font-size: 14px;
}

.header-top a.btn.btn-solid.btn-red {
  padding: 9px 15px !important;
}

.header-top a.btn.btn-white {
  padding: 9px 15px !important;
}

a.btn.btn-drop, button.btn.btn-drop {
    padding: 11px 20px 6px 20px!important;
}

.header-top ul li + li {
  margin-left: 10px;
}

.header-top .buttons-nav li + li {
  margin-left: 10px;
}

a.btn, button.btn {
  padding: 8px 19px !important;
}

a.btn.btn-solid, button.btn.btn-red, .btn.btn-red, .btn.btn-blck {
  font-size: 24px;
}

#dashboard-wrap > div {
  padding: 0 9%;
}

/********************************   Promotion pages   *******************************/
span.promo-num h5 {
  font-family: "bold" !important;
}

.promotion .btn {
  font-size: 23px !important;
}

.reasons-list {
  font-size: 18px;
}

.about-xm .box-border1 h4 {
  font-size: 53px;
  letter-spacing: -2px;
}

.about-xm .timeline .year {
  font-size: 20px;
  letter-spacing: -1px;
}

.about-xm .timeline ul:before {
  left: -70px;
}

.about-xm .timeline ul li:before {
  left: -39px;
}

/* #Media Queries
================================================== */
@media (max-width: 767px) {
  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 72px;
    font-weight: normal;
  }

  .reasons-list li a {
    font-size: 14px;
  }

  .main-photo .block h2, #owl-main .item .block h2 {
    font-size: 48px!important;
  }

  .main-photo .block p, #owl-main .item .block p {
    font-size: 16px;
  }

  #owl-main .item {
    height: 290px;
  }
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  line-height: 27px;
}

/**********************************   XM CONTESTS   **********************************/
.contest-promo h2 span {
  font-size: 48px;
}

/* #Media Queries
================================================== */
@media (max-width: 1290px) and (min-width: 991px) {
  #main-nav.navbar-nav > li > a {
    font-size: 18px !important;
  }
}
@media (max-width: 1199px){
  #main-nav.navbar-nav.nav-logo > li > a {
    font-size: 16px!important;
  }
}
@media (max-width: 360px) {
  #mobileAppBar .text-wrap h3 {
    font-size: 13px;
    padding-top: 2px;
  }
  #mobileAppBar .text-wrap p {
      font-size: 12px;
  }
}

a.btn.btn-solid, button.btn.btn-red, .btn.btn-red, .btn.btn-blck .smaller-font-22 {
  font-size: 22px;
}

.buttons-wrap a.btn {
  font-size: 30px;
}


/****************************   Sliders   ***************************/


.main-photo #owl-main .item .block h2,  
.main-slider #owl-main .item .block h2 {
  font-size: 50px;
}


/* ******************* Skrill 1-Tap Payment Method ******************* */
button.btn.btn-solid.btn-green.cancel-1tap {
  font-size: 12px !important;
  padding: 3px !important;
}

/****************************   Partners Main Menu   ***************************/
#main-nav.partnersNavMenu > li > a {
  padding: 15px 4px !important;
}

/************************   Forex World Championship   *************************/
#world-championship .round-wrap.xl .round {
    letter-spacing: -3px;
    margin-bottom: 6px;
}

#world-championship .round-wrap.xl .text1,
#world-championship .round-wrap.xl .active .text1 {
  font-size: 15px;
}

.main-photo #owl-main .item .block.championship h2, .main-slider #owl-main .item .block.championship h2 {
  font-size: 45px;
}

/***************************   Thailand Gala Dinner 2016   *****************************/
#galaPromo h2.mainTitle {
  font-size: 98px;
}

#galaPromo .col-sm-6 h2{
  font-size: 29px;!important;
}
#galaPromo .bracket h3 {
  font-size: 33px;
}
.main-site.hp-v17.partners #hero-content .stripe em {
    font-size: 58px;
    font-family: sans-serif!important;
}
.main-site.hp-v17.partners .buttons-wrap .btn.btn-green, 
.main-site.hp-v17.partners .buttons-wrap .btn.btn-red,
.hp-v17.partners.partners .buttons-wrap .btn.btn-gray {
    font-size: 25px;
    text-transform: uppercase;
}
@media(max-width:991px) {
  .main-site.hp-v17.partners .buttons-wrap .btn.btn-green, 
  .main-site.hp-v17.partners .buttons-wrap .btn.btn-red,
  .hp-v17.partners.partners .buttons-wrap .btn.btn-gra {
      font-size: 23px;
  }
}

@media (min-width:992px) {
  #galaPromo.fxwc .subtitle {
    font-size: 65px;
    line-height: 55px;
  }
}